DB_USERNAME=your_mysql_user
DB_PASSWORD=your_mysql_password
DB_URL_AUTH=jdbc:mysql://localhost:3306/auth-db
DB_URL_BOOKING=jdbc:mysql://localhost:3306/booking-db
DB_URL_SPORTS=jdbc:mysql://localhost:3306/sports-db

JWT_SECRET_KEY=your_jwt_secret_key_here_make_sure_it_is_long_enough

AUTH_SERVICE_URL=http://localhost:8081
SPORTS_SERVICE_URL=http://localhost:8083
BOOKING_SERVICE_URL=http://localhost:8084
NOTIFICATION_SERVICE_URL=http://localhost:5021

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
