ConnectionStrings__DefaultConnection=Server=127.0.0.1;Port=3306;Database=notification-db;User=your_mysql_user;Password=your_mysql_password;
SmtpSettings__Host=smtp.example.com
SmtpSettings__Port=587
SmtpSettings__Username=your_email@example.com
SmtpSettings__Password=your_app_password
SmtpSettings__FromEmail=your_email@example.com
